nav,
footer {
  display: none;
}

body {
  margin: 0;
  background-image: url(../wegweg.png);
  background-size: 200px 200px;
}

p {
  font-size: 100px;
  color: rgb(255, 203, 0);
  -webkit-text-stroke: 1px black;
  font-family: sans-serif;
}
