/* import fonts, somehow need to import weights individually? */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
	font-size: 20px;
}

body {
	background-color: #F8F2D7;
	color: black;
	font-family:"Rubik", Helvetica, sans-serif;
	font-weight:400;
	margin: 0rem;
}

/* font styles */

 p {
	font-size: 1rem;
	line-height: 1.5;
 }

h1  {
	font-family: "Instrument Serif", Georgia, sans-serif;
	font-weight: 400;
	font-size: 6rem;
	line-height: 1;
	font-style: italic;
	color: #4C54E3;
}

h2  {
	font-family: "Instrument Serif", Georgia, sans-serif;
	font-weight: 400;
	font-size: 4rem;
	line-height: 1;
	font-style: italic;
	color: #F0653A;
}

@media (max-width: 800px) {
	h1  {
		font-family: "Instrument Serif", Georgia, sans-serif;
		font-weight: 400;
		font-size: 4rem;
		line-height: 1;
		font-style: italic;
		color: #4C54E3;
	}

	h2  {
		font-family: "Instrument Serif", Georgia, sans-serif;
		font-weight: 400;
		font-size: 2rem;
		line-height: 1;
		font-style: italic;
		color: #F0653A;
	}

}

h3 {
	font-family: "Instrument Serif", Georgia, sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1;
	font-style: italic;
	color: #F0653A;
}


/* commenting style */
h4  {
	color: magenta;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1;
}

.subtle-text {
	color: #6E6740;
}

a {
	color: black;
	text-decoration: none;
	/*text-decoration-color: #F6BE17;
	text-decoration-thickness: 0.2rem;
	text-underline-offset: -0.2rem;*/
	background: linear-gradient(180deg, rgba(255,255,255,0) 70%, #F6BE17 70%);
  display: inline;
}

a:hover {
	text-decoration: none;
	/*background: black;
	color: #ffd500;*/
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #F6BE17 0%);
  display: inline;
}

a:focus,a:active {
	/*border-radius: 3px;
	outline: 2px solid #7e6900;
	background-color: #e8c100;*/
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #F7D776 0%);
  display: inline;
}

a.subtle-text {
	text-decoration-color: #F7D776;
}

hr {
	border: 1px solid #DED6AA;
	width: 100%;
	margin-block-start: 40px;
	margin-block-end: 40px;
}

::selection {
	background: #F7D776; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
	background: #F7D776; /* Gecko Browsers */
  }

img {
	object-fit: contain;
	width: 100%;
}

/* site content wrapper and padding */

.body-content {
	width: 70vw;
	padding-top: 100px;
	padding-bottom: 180px;
	padding-left: 120px;
	padding-right: 120px;
}

.body-content-wide {
	width: calc(100vw - 240px);
	padding-top: 100px;
	padding-bottom: 180px;
	padding-left: 120px;
	padding-right: 120px;
}

@media (max-width: 800px) {
	.body-content {
		width: calc(100vw - 40px);
		padding-top: 40px;
		padding-bottom: 180px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.body-content-wide {
		width: calc(100vw - 40px);
		padding-top: 40px;
		padding-bottom: 180px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


/* navigation styling */

header {
	position: sticky;
	top: 0;
}

nav {
	padding: 20px 60px 20px 60px;
	background-color:#F8F2D7;
	border-bottom: 2px solid #DED6AA;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 800px) {
	nav {
		padding: 20px 20px 20px 20px;
	}
}

nav div.home {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

nav div.other-links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav a.homelink {
	display: flex;
	font-family: "Instrument Serif", Georgia, sans-serif;
	font-weight: 400;
	font-size: 2rem;
	font-style: italic;
	color: #4C54E3;
	background: none;
}

nav a.navlink {
	display: flex;
	font-weight: 400;
	text-decoration: none;
	background: none;
	margin-left: 40px;
	align-content: center;
	flex-wrap: wrap;
	height: 22px;
	white-space: nowrap;
}

nav a.navlink:hover {
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #F6BE17 0%);
}

/* mobile navigation stuff */

nav a.open-menu {
  display: none;
	text-decoration: none;
	background: none;
	flex-wrap: wrap;
	height: 22px;
}

nav a.open-menu:hover {
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #F6BE17 0%);
}

/* When the screen is less than 800px wide, don't display any nav links (navlink) and display  */
@media screen and (max-width: 800px) {
  nav div.other-links {
		display: none;
	}
  nav a.open-menu {
    display: flex;
		align-content: center;
		flex-wrap: wrap;
  }

	nav {
		flex-direction: column;
	}

	nav div.other-links {
		flex-direction: column;
	}

	nav div.other-links.responsive{
		display: flex;
		align-items: flex-end;
		width: 100%;
	}

	nav div.other-links.responsive a.navlink{
		margin-left: 0px;
		margin-block-start: 10px;
		margin-block-end: 10px;
	}

}



/* CV table specific styling */

div.CV {
	width: 100%;
}

div.CV-row {
	display: flex;
	flex-direction: row;
  margin-block-end: 20px;
}

@media (max-width: 800px) {
  div.CV-row {
    flex-direction: column;
  }

	p.position-headers {
		margin-block-end: 0px !important;
	}
}

div.CV-table-date {
	flex: 0.25;
	margin-top: 0px;
}

div.CV-table {
	flex: 0.75;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

p.position-headers {
	margin-block-start: 0;
	margin-block-end: 1px;
	font-weight: 600;
}

p.position-responsibilities {
	margin-bottom: 20px;
}

/* contact form styling */

label.help-text {
	font-size: 0.75rem;
	margin-block-start: 20px;
	color: #7e6900;
}

input, textarea {
	font-family: "Rubik", Helvetica, sans-serif;
	font-size: 1rem;

	padding: 10px;
	margin-block-start: 20px;
	margin-block-end: 40px;
	width: 100%;

	border: 2px solid #DED6AA;
	border-radius: 4px;
	background-color: #FAF4D7;

	box-sizing: border-box;
}

input:hover, textarea:hover {
	border: 2px solid black;
	outline: none;
}

input:focus, textarea:focus{
	border: 2px solid black;
	outline: 6px solid #F7D776;
}

button {
	font-family: "Rubik", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	display: block;
	margin-block-end: 10px;

	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 30%;
	border: 3px solid #4C54E3;
	border-radius: 4px;
	background-color: #F8F2D7;
	color: #4C54E3;
}

button:hover, button:active {
	border: 3px solid #4C54E3;
	background-color: #4C54E3;
	color: #F8F2D7;
	cursor: pointer;
}

button:focus {
	border: 3px solid black;
	outline: 6px solid #e8c100;
}

button:disabled, button:disabled:hover {
	border: 2px solid #6E6740;
	font-weight: 400;
	color: #6E6740;
	background-color: #F8F2D7;
	cursor: default;
}

::placeholder {
	color:#7e6900;
}

/* project summary styling */

div.project-summary {
	display: flex;
	flex-direction: row;
	margin-block-end: 40px;
}

div.project-summary-visual {
	width: 50%;
	align-content: center;
}

img.project-thumbnail {
	width: 100%;
	height: auto;
	overflow: auto;
	border-radius: 4px;
}

div.project-summary-text {
	width: 50%;
	padding-left: 30px;
	align-content: center;
}

h2.project-title {
	font-size: 4rem;
	margin-block-start: 0rem;
	margin-block-end: 0.5rem;
}

p.project-company-meta {
	font-weight: 500;
	color: #4C54E3;
	margin-block-end: 0rem;
}

a.project-company-link {
	color: #4C54E3;
}

p.project-application-type {
	font-weight: 500;
	color: #4C54E3;
	margin-block-start: 0rem;
	margin-block-end: 0rem;
}

p.project-my-impact {
	margin-block-start: 0.5rem;
	color: #4C54E3;
}

@media (max-width: 960px) {
	div.project-summary {
		flex-direction: column;
	}

	div.project-summary-visual {
		width: 100%;
	}

	div.project-summary-text {
		width: 100%;
		padding-left: 0px;
	}

	h2.project-title {
		font-size: 3rem;
		margin-block-start: 1rem;
		margin-block-end: 0.5rem;
	}

}

@media (min-width: 960px) and (max-width: 1200px) {
	h2.project-title {
		font-size: 4rem;
		margin-block-start: 1rem;
		margin-block-end: 0.5rem;
	}
}

/* project page styling */

div.project-header {
	display: flex;
	flex-direction: row;
	margin-block-end: 80px;
	align-content: center;
}

div.project-header-title {
	width: 70%;
	align-content: center;
	margin-right: 40px;
}

a.back-link {
	font-weight: 400;
	color: #4C54E3;
	text-decoration: none;
	background: none;
	height: 22px;
	}

a.back-link:hover {
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #F6BE17 0%);
}

h2.project-title {
	margin-block-start: 1rem;
}

div.project-header-meta {
	width: 30%;
	height: fit-content;
	align-content: center;
	align-self: center;
	padding: 0px 20px 0px 20px;
	border: 3px solid #4C54E3;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
}

@media (max-width: 1200px) {
	div.project-header {
		flex-direction: column;
		justify-content: flex-start;
	}

	div.project-header-title {
		width: 100%;
		margin-right: 0px;
		margin-block-end: 20px;
	}

	div.project-header-meta {
		width: auto;
		align-self: flex-start;
	}
}
