<table class="CV">
    <tbody>
        {% for job in site.jobs %}
        <tr>
            <td class="CV-table-date"><strong>{{ job.job-date }}</strong></td>
            <td>
                <ul class="CV-table">
                    <li class="position-name"><strong>{{ job.job-position }} @ <a href= "{{ job.company-url }}">{{ job.company-name }}</a></strong>
                    </li>
                    <li class="position-responsibilities">
                        {{job.content}}
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- old stuff

<table class="CV">
    <tbody>
      <tr>
        <td class="CV-table-date"><strong>2020 &mdash; Now</strong></td>
        <td>
              <ul class="CV-table">
                  <li class="position-name"><strong>Senior Product Designer @ <a href="https://unity.com/">Unity</a></strong>
                  </li>
                  <li class="position-responsibilities">
                      Lead framework initiative for aligning UX inconsistency across Unity’s flagship product, the <a href="https://unity.com/products/unity-platform">Unity Editor</a>, working with a community of 30+ designers and 10+ development teams to serve 1.5 million users.
                  </li>
                  <li class="position-responsibilities">
                      Manage &amp; execute framework requests and process, collaborating with small teams of designers and developers. Design workshops for problem discovery, auditing, and synthesis. Lead design iteration and review.
                  </li>
                  <li class="position-responsibilities">
                      Align with multiple cross-functional development teams and PMs to scope and plan implementation of designs that reach across multiple product areas.
                  </li>
                  <li class="position-responsibilities">
                      Lead and execute user research efforts for the Design System, applying research insights to product iteration and team processes. 
                  </li>
              </ul>
          </td>
      </tr>
      <tr>
        <td class="CV-table-date"><strong>2018 &mdash; 2020</strong></td>
        <td>
              <ul class="CV-table">
                  <li class="position-name"><strong>Product &amp; Visual Designer @ <a href="https://www.elementai.com/">Element AI</a></strong>
                  </li>
                  <li class="position-responsibilities">
                      Visual UI &amp; UX design and prototyping to bring cutting-edge AI developer tools <a href="https://www.elementai.com/products/ork">AI Toolkit & Data Labeller</a> to market, as well as retail-focused task-optimization product <a href="https://www.elementai.com/products/task-orchestrator">Task Orchestrator</a>.
                  </li>
                  <li class="position-responsibilities">
                      Web design for corporate website. Visual storytelling and communication in marketing &amp; sales collateral. Visual design team resource &amp; workflow management.
                  </li>
              </ul>
          </td>
      </tr>
      <tr>
        <td class="CV-table-date"><strong>2017 &mdash; 2018</strong></td>
        <td>
              <ul class="CV-table">
                  <li class="position-name"><strong>Visual Designer @ <a href="https://ssmu.ca/">Students’ Society of McGill University</a></strong>
                  </li>
                  <li class="position-responsibilities">
                      Web design, branding, social media, and print graphics.
                  </li>
              </ul>
          </td>
      </tr>
      <tr>
        <td class="CV-table-date"><strong>2013 &mdash; 2018</strong></td>
        <td>
              <ul class="CV-table">
                  <li class="position-name"><strong>Visual Designer &mdash; Freelance</strong>
                  </li>
                  <li class="position-responsibilities">
                      Web design & branding projects for clients and student-run organizations. Production of social media, print graphics, video graphics.
                  </li>
              </ul>
          </td>
      </tr>
      <tr>
        <td class="CV-table-date"><strong>2013 &mdash; 2017</strong></td>
        <td>
              <ul class="CV-table">
                  <li class="position-name"><strong>Cognitive Science Bachelor's Student @ <a href="https://www.mcgill.ca/"> McGill University</a></strong>
                  </li>
                  <li class="position-responsibilities">
                      Interdisciplinary Arts & Science degree with focus in neuropsychology & computer science.
                  </li>
              </ul>
          </td>
      </tr>
    </tbody>
  </table>

-->