<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>{{page.title}} &mdash; weiwei.design</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Instrument+Serif">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <script type="text/javascript" src='{{ site.baseurl }}/js/openMobileNav.js'> </script>
    <script src="https://kit.fontawesome.com/c94194f391.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav role="navigation">
                <div class="home">
                  <a href="/" class="homelink">Wei-Wei Lin</a>
                  <a href="javascript:void(0);" class="open-menu" onclick="openMobileNav()" id="open-menu-link">Menu</a>
                </div>
                <div class="other-links" id="menu-links">
                  <a href="/projects" class="navlink">Projects</a>
                  <a href="/cv" class="navlink">Experience & Skills</a>
                  <a href="/contact" class="navlink">Contact</a>
                </div>
            </nav>
        </header>
        <div class="body-content">
            {{ content }}
        </div>

    </div>

    <body>

    <script src="/js/scale.fix.js"></script>
  </body>

</body>
</html>
