<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>{{page.title}} &mdash; weiwei.design</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Instrument+Serif">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <script type="text/javascript" src='{{ site.baseurl }}/js/openMobileNav.js'></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav role="navigation">
                <div class="home">
                  <a href="/" class="homelink">Wei-Wei Lin</a>
                  <a href="javascript:void(0);" class="open-menu" onclick="openMobileNav()" id="open-menu-link">Menu</a>
                </div>
                <div class="other-links" id="menu-links">
                  <a href="/projects" class="navlink">Projects</a>
                  <a href="/cv" class="navlink">Experience & Skills</a>
                  <a href="/contact" class="navlink">Contact</a>
                </div>
            </nav>
        </header>
        <div class="body-content-wide">
          <div class="project-header">
            <div class="project-header-title">
              <a href="/projects" class="back-link">&#x2190; Back to projects page</a>
              <h2 class="project-title">{{ page.project-title }}</h2>
            </div>
            <div class="project-header-meta">
              <p class="project-company-meta"><a href= "{{ page.company-link }}" class="project-company-link">{{ page.company-name }}</a> &#x2734; {{ page.company-industry }} &#x2734; {{ page.company-type }} </p>
              <p class="project-application-type">{{ page.application-type }}</p>
              <p class="project-my-impact">My impact: {{ page.my-impact }}</p>
            </div>
          </div>
            {{ content }}
        </div>

    </div>

    <body>

    <script src="/js/scale.fix.js"></script>
  </body>

</body>
</html>
